.navbar-list-container {
  gap: $gap;
  list-style: none;
  padding: $pad;
  width: $full;
  height: $full;
  .navbar-list-element {
    height: $list-element-height;
    margin: 5px 0;
    &:hover {
      .navbar-list-link,
      .navbar-list-icon {
        text-shadow: 0 0 3px $primary_light;
      }
    }
    .navbar-list-link,
    .navbar-list-icon {
      color: $white;
      height: $button-height;
      text-align: center;
      text-decoration: none;
      transition: text-shadow 0.2s;
    }
    .navbar-list-link {
      width: $full;
    }
    .navbar-list-icon {
      width: 30px;
      cursor: pointer;
    }
  }
}

@media (min-width: $medium) {
  .navbar-list-container {
    flex-direction: column;
    justify-content: space-around;
    .navbar-list-element {
      .navbar-list-link {
        padding: 5px 0;
      }
    }
  }
}
