.navbar-list-container {
  background-color: $primary_light;
  list-style: none;
  padding: $pad;

  height: calc($vh - $navigation-height);
  width: $navigation-width-mobile;

  position: absolute;
  top: $navigation-height;
  right: -$navigation-width-mobile;
  z-index: 1;

  opacity: 0;
  transition: all 0.4s;
  &.menu-open {
    opacity: 1;
    right: 0;
  }
  .navbar-list-element {
    height: $list-element-height;
    margin: 5px 0;
    line-height: $list-element-height;

    display: flex;

    border-radius: 6px 25px 6px 25px;

    overflow: hidden;
    .navbar-list-link,
    .navbar-list-icon {
      color: $white;
    }
    .navbar-list-link {
      display: block;
      padding-left: 10px;
      width: $full;
    }
    .navbar-list-icon {
      width: 60px;
      cursor: pointer;
    }
  }
}

@media (min-width: $medium) {
  .navbar-list-container {
    transition: all 0s;
    background: transparent;
    width: $navigation-width;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
  }
}
