.createplaylist-name-input {
  color: inherit;
  width: $full;
  border: none;
  border-radius: 3px;
  height: 30px;
  padding-left: $pad-lr;
  background-color: transparent;
  transition: $fast;
  &:focus {
    // @include elevate(3);
    outline: none;
    font-size: 1em;
  }
  &:placeholder-shown {
    font-style: italic;
  }
  &.error {
    background-color: lighten($error, 8);
    color: $black;
  }
}
