.createplaylist-name-input {
  width: $full;
  border-radius: 3px;
  border: none;
  height: 30px;
  padding-left: $pad-lr;
  background-color: transparent;
  margin-bottom: 15px;
  transition: $fast;
  &:focus {
    @include elevate(3);
    outline: none;
    font-size: 1em;
  }
  &:placeholder-shown {
    font-style: italic;
  }
}
