@import '../Logo/style/_index.scss';
@import '../Menu/style/_index.scss';
@import '../NavbarList/style/_index.scss';

.navigation-container {
  @include useThemeBg($primary, $primary_darken_dark);
  align-items: center;
  box-shadow: $shadow;
  display: flex;
  height: $full;
  justify-content: center;
  position: relative;
  width: $full;
  &.menu-open {
    .navigation-center {
      right: 0;
    }
  }
  .navigation-left {
    flex: 1;
  }
  .navigation-right {
    width: 100px;
  }
}

@media (min-width: $medium) {
  .navigation-container {
    flex-direction: column;
    .navigation-right {
      display: none;
    }
  }
}
