@import '../../../../theme/_variables.scss';

.menu-button-container {
  background-color: #fff;
  width: $full;
  height: calc($button-height + 20px);
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;
  .menu-button {
    // neutralize
    background: transparent;
    border: none;
    width: $button-height;
    height: $button-height;
    display: flex;
    justify-content: center;
    align-items: center;
    // styile
    color: $black;
    transition: background 0.2s;
    border-radius: 3px;
    &:active {
      background: $primary;
    }
  }
}

@media (max-width: $medium) {
  .menu-button-container {
    &.non-mobile {
      display: none;
    }
  }
}
