$volume-width: 200px;
$volume-height: 5px;
$primary: #00fff5;
$primary_dark: #00adb5;
$black-shadow: #242424;
$background: #0d7377;

.volume-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  padding: 0 10px;
  .marker {
    position: absolute;
    width: $volume-width;
    height: $volume-height;
    z-index: -1;
  }
  .volume-input {
    appearance: none;
    width: $volume-width;
    height: $volume-height;
    background: $primary_dark;
    outline: none;
    overflow: hidden;
    box-shadow: inset 0 0 2px $black-shadow;
    &::-webkit-slider-thumb {
      appearance: none;
      width: $volume-height;
      height: $volume-height;
      background: $primary;
      cursor: pointer;
      box-shadow: -107px 0 0 100px $primary;
    }
    &:active {
      &::-webkit-slider-thumb {
        background: #fafafa;
        box-shadow: -107px 0 0 100px #fafafa;
      }
    }
  }
}
