@import '../../../theme/_variables.scss';

.navigation-container-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $navigation-height;
  width: $vw;
  background-color: $primary;
  box-shadow: $shadow;
}
@media (min-width: $medium) {
  .navigation-container-app {
    width: $menu-width;
    min-width: 60px;
    height: $vh;
    flex-direction: column;
    position: absolute;
    left: -140px;
    z-index: 1;
    transition: left 0.2s;
    &.menu-open {
      left: 0;
    }
  }
}
