@import '../../../theme/index.scss';

.navbar-list-container {
  display: flex;
  gap: $gap;
  list-style: none;
  padding: $pad;
  width: $full;
  height: $full;
  .navbar-list-element {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar-list-link {
      height: 30px;
      border-radius: 3px;
      box-shadow: 0 -3px 8px -5px $white inset;
      color: $white;
      display: block;
      padding: $pad;
      text-align: center;
      text-decoration: none;
      width: $full;
    }
  }
}

@media (min-width: $medium) {
  .navbar-list-container {
    flex-direction: column;
    justify-content: space-around;
    .navbar-list-element {
      .navbar-list-link {
        padding: 5px 0;
      }
    }
  }
}
