@import '../../../theme/index.scss';

.navbar-list-container {
  display: flex;
  gap: $gap;
  justify-content: center;
  list-style: none;
  padding: $pad;
  width: $full;
  .navbar-list-element {
    flex: 1;
    .navbar-list-link {
      border-radius: 3px;
      box-shadow: 0 -3px 8px -5px $white inset;
      color: $white;
      display: block;
      height: $full;
      padding: $pad;
      text-align: center;
      text-decoration: none;
      width: $full;
    }
  }
}
