.table-container {
  font-size: 14px;
  width: $full;
  // background-color: $white_dark;
  border: 1px solid $white_dark;
  color: $black;
  border-radius: 15px;
  padding: $pad;
  .thead,
  .table-body,
  .tfoot {
    width: $full;
  }

  .thead {
    border-bottom: 1px solid #ccc;
    cursor: default;
    .head-item {
      flex: 1;
      padding-left: 5px;
      &:nth-child(1) {
        max-width: 40px;
      }
      &:nth-last-child(1) {
        max-width: 40px;
      }
    }
  }
  .table-body {
    .table-row {
      width: $full;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      transition: background-color $fast;
      &:hover {
        background-color: $primary;
      }
      .row-item {
        padding-left: 5px;
        flex: 1;
        text-align: left;
        border-right: 1px solid #ccc;
        &:nth-child(1) {
          border-left: 1px solid #ccc;
          max-width: 40px;
        }
        &:nth-last-child(1) {
          background-color: $primary_light;
          max-width: 40px;
        }
      }
    }
  }
  // .tfoot {
  // }
}

@media (max-width: $medium) {
  .table-container {
    .table-body {
      .table-row {
        .row-item {
          &:nth-child(2) {
            border-left: 1px solid #ccc;
          }
        }
      }
    }
  }
}
