.playlist-card {
  min-height: 130px;
  width: $full;
  padding: $pad;
  border-radius: 3px;
  @include elevate(6);
  @include useThemeBg($white_light, $primary_dark);
  transition: transform $fast;
  &:hover {
    transform: scale(1.05);
  }
  &-header {
    border-bottom: 1px solid $white_dark;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
  &-detail {
    list-style: none;
    padding: 0;
    &-item {
      &:nth-last-child(1) {
        cursor: pointer;
        transition: color $fast;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
