.player-container {
  // height: $player-mobile-height;
  color: $white;
  gap: $gap;
  padding: $container-padding;
  @include useThemeBg($primary_darken_dark, $black);
  .comands-container,
  .info-container,
  .auxiliar-container {
    width: $full;
    gap: $gap;
  }
  .comands-container {
    .play-button {
      width: $button-height + 10px;
      height: $button-height + 10px;
      & svg {
        font-size: 2.5em;
      }
    }
  }
  .auxiliar-container {
    & .auxiliar-control {
      min-height: 20px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: transparent;
      color: $white;
      &.active {
        background-color: $primary_dark;
      }
    }
  }
  // .info-container {}
}
