.player-container {
  height: $player-mobile-height;
  color: $white;
  background-color: $primary_darken_dark;
  gap: $gap;
  padding: $container-padding;
  .comands-container,
  .info-container {
    width: $full;
    gap: $gap;
  }
  .comands-container {
    .play-button {
      & svg {
        font-size: 2.5em;
      }
    }
  }
  // .info-container {}
}
