.player-container {
  height: $player-mobile-height;
  color: $white;
  background-color: $primary_darken_dark;
  gap: $gap;
  padding: $container-padding;
  .comands-container,
  .info-container {
    width: $full;
  }
  // .comands-container {}
  .info-container {
    gap: $gap;
  }
}
