@import '../../theme/index.scss';

.player {
  width: $full;
  padding: $pad;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background_dark;
  .volume-control-container {
    width: $full;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    // background-color: yellow;
    .volume-control-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .comands-control-container {
    width: $full;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .status-box {
      display: flex;
      flex-direction: column;
      width: $full;
      justify-content: center;
      align-items: center;
    }
    .controls-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $gap;
    }
  }
}
