@import '../Controls/style/_index.scss';
@import '../Auxiliar/style/_index.scss';
@import '../MainControls/style/_index.scss';

.player-container {
  @extend %flex-col-center;
  color: $white;
  gap: $gap;
  padding: $padding-container;
  @include useThemeBg($primary_darken_dark, $black);
  .comands-container,
  .info-container,
  .auxiliar-container {
    width: $full;
    gap: $gap;
  }
}
