.navbar-list-container {
  @include useThemeBg($primary_light, $primary_darken);
  height: calc($vh - $navigation-height);
  list-style: none;
  opacity: 0;
  padding: $pad;
  position: absolute;
  right: -$navigation-width-mobile;
  top: $navigation-height;
  transition: all 0.4s;
  width: $navigation-width-mobile;
  z-index: 1;
  &.menu-open {
    opacity: 1;
    right: 0;
    top: $navigation-height;
  }
  .navbar-list-element {
    @extend %flex-row-center;
    cursor: pointer;
    height: $list-element-height;
    line-height: $list-element-height;
    margin: 5px 0;
    overflow: hidden;
    padding: $pad;
    .navbar-list-link,
    .navbar-list-icon {
      @include useThemeText;
    }
    .navbar-list-link {
      display: block;
      font-size: 1.2em;
      letter-spacing: 1px;
      padding-left: 10px;
      width: $full;
    }
    .navbar-list-icon {
      position: relative;
      top: 8px;
    }
  }
}

@media (min-width: $medium) {
  .navbar-list-container {
    @include useThemeBg();
    left: 0;
    opacity: 1;
    position: relative;
    top: 0;
    width: $navigation-width;
  }
}
