.navigation-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .menu-button {
    // neutralize
    background: transparent;
    // style
    width: $button-height;
    height: $button-height;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
    border-radius: 3px;
    @include useThemeText;
    &:active {
      background: $primary_dark;
    }
  }
}
