.navigation-menu-container {
  .menu-button {
    background: transparent;
    width: $button-height;
    height: $button-height;
    transition: background 0.2s;
    border-radius: 3px;
    @include useThemeText;
    &:active {
      background: $primary_dark;
    }
  }
}
