* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Geneva, Verdana, sans-serif;
}

#root {
  max-width: 100vw;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.btn a, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 769px) {
  .non-mobile {
    display: none;
  }
}
.createplaylist-name-input:focus {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.playlist-card {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.new-playlist-form, .paper {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn {
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.2s ease;
  min-height: 30px;
  font-size: 16px;
  transition: color 0.2s ease;
}
.btn.light {
  color: #212121;
}
.btn.light a {
  color: #212121;
}
.btn.dark {
  color: #f5f5f5;
}
.btn.dark a {
  color: #f5f5f5;
}
.btn:hover {
  background-color: #00b2ba;
}
.btn.primary {
  background-color: #00adb5;
}
.btn.disabled {
  background-color: #8e8e8e;
}
.btn.error {
  background-color: #f44336;
}
.btn svg {
  font-size: inherit;
}
.btn a {
  gap: 10px;
  color: inherit;
}

.btn-player {
  background: transparent;
  padding: 5px;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  color: inherit;
  transition: background 0.2s;
  transition: box-shadow 0.2s;
  position: relative;
  outline: none;
}
.btn-player:hover {
  box-shadow: 0 0 3px 0 #c2c2c2;
  background: #006064;
}

.view {
  padding: 10px 20px;
  transition: background 0.2s ease;
  transition: color 0.2s ease;
}
.view.light {
  background: #f5f5f5;
}
.view.dark {
  background: #121212;
}
.view.light {
  color: #212121;
}
.view.light a {
  color: #212121;
}
.view.dark {
  color: #f5f5f5;
}
.view.dark a {
  color: #f5f5f5;
}
.view h2 {
  text-align: center;
  margin: 30px auto;
}

.paper {
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.2s ease;
}
.paper.light {
  background: #fff;
}
.paper.dark {
  background: #212121;
}

.main-container-app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  background-color: #f5f5f5;
}
.main-container-app .header-container-app {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.main-container-app .player-container-app {
  grid-row: 1/2;
}
.main-container-app .body-container-app {
  grid-row: 2/3;
}
.main-container-app .footer-container-app {
  grid-row: 3/-1;
}
.main-container-app .footer-container-app {
  transition: background 0.2s ease;
  transition: color 0.2s ease;
}
.main-container-app .footer-container-app.light {
  background: #00adb5;
}
.main-container-app .footer-container-app.dark {
  background: #00363a;
}
.main-container-app .footer-container-app.light {
  color: #212121;
}
.main-container-app .footer-container-app.light a {
  color: #212121;
}
.main-container-app .footer-container-app.dark {
  color: #f5f5f5;
}
.main-container-app .footer-container-app.dark a {
  color: #f5f5f5;
}

@media (min-width: 769px) {
  .main-container-app {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding-top: 0;
    padding-left: 180px;
  }
  .main-container-app .header-container-app {
    width: 180px;
  }
  .main-container-app .player-container-app {
    grid-row: 1;
    grid-column: 1;
  }
  .main-container-app .body-container-app {
    grid-row: 2;
    grid-column: 1;
  }
  .main-container-app .footer-container-app {
    grid-row: 3;
    grid-column: 1;
  }
}
.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #00adb5;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #00adb5;
  border-radius: 50%;
  -webkit-animation: animloader 1s infinite ease-in-out;
          animation: animloader 1s infinite ease-in-out;
  box-shadow: 0 0 3px 0 #484848;
}

.loader::before {
  background-color: #f5f5f5;
  transform: scale(0.5) translate(-48px, -48px);
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.toggle-theme-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  width: 35px;
  height: 18px;
  margin: 0;
  position: relative;
  border-radius: 9px;
  background-color: #00363a;
}
.toggle-theme-input:after {
  transition: all 0.2s ease;
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-color: #00adb5;
  border-radius: 50%;
}
.toggle-theme-input.active {
  background-color: #00adb5;
}
.toggle-theme-input.active:after {
  background-color: #00363a;
  left: 17px;
}

.navbar-list-container {
  transition: background 0.2s ease;
  list-style: none;
  padding: 5px 10px;
  height: calc(100vh - 60px);
  width: 300px;
  position: absolute;
  top: 60px;
  right: -300px;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;
}
.navbar-list-container.light {
  background: #5cdfe7;
}
.navbar-list-container.dark {
  background: #006064;
}
.navbar-list-container.menu-open {
  top: 60px;
  opacity: 1;
  right: 0;
}
.navbar-list-container .navbar-list-element {
  height: 50px;
  margin: 5px 0;
  line-height: 50px;
  padding: 5px 10px;
  overflow: hidden;
  cursor: pointer;
}
.navbar-list-container .navbar-list-element .navbar-list-link,
.navbar-list-container .navbar-list-element .navbar-list-icon {
  transition: color 0.2s ease;
}
.navbar-list-container .navbar-list-element .navbar-list-link.light,
.navbar-list-container .navbar-list-element .navbar-list-icon.light {
  color: #212121;
}
.navbar-list-container .navbar-list-element .navbar-list-link.light a,
.navbar-list-container .navbar-list-element .navbar-list-icon.light a {
  color: #212121;
}
.navbar-list-container .navbar-list-element .navbar-list-link.dark,
.navbar-list-container .navbar-list-element .navbar-list-icon.dark {
  color: #f5f5f5;
}
.navbar-list-container .navbar-list-element .navbar-list-link.dark a,
.navbar-list-container .navbar-list-element .navbar-list-icon.dark a {
  color: #f5f5f5;
}
.navbar-list-container .navbar-list-element .navbar-list-link {
  letter-spacing: 1px;
  font-size: 1.2em;
  display: block;
  width: 100%;
  padding-left: 10px;
}
.navbar-list-container .navbar-list-element .navbar-list-icon {
  position: relative;
  top: 4px;
}

@media (min-width: 769px) {
  .navbar-list-container {
    transition: background 0.2s ease;
    width: 180px;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
  }
  .navbar-list-container.light {
    background: transparent;
  }
  .navbar-list-container.dark {
    background: transparent;
  }
}
.navigation-logo {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}
.navigation-logo-link {
  transition: color 0.2s ease;
}
.navigation-logo-link.light {
  color: #212121;
}
.navigation-logo-link.light a {
  color: #212121;
}
.navigation-logo-link.dark {
  color: #f5f5f5;
}
.navigation-logo-link.dark a {
  color: #f5f5f5;
}

.navigation-menu-container .menu-button {
  background: transparent;
  width: 30px;
  height: 30px;
  transition: background 0.2s;
  border-radius: 3px;
  transition: color 0.2s ease;
}
.navigation-menu-container .menu-button.light {
  color: #212121;
}
.navigation-menu-container .menu-button.light a {
  color: #212121;
}
.navigation-menu-container .menu-button.dark {
  color: #f5f5f5;
}
.navigation-menu-container .menu-button.dark a {
  color: #f5f5f5;
}
.navigation-menu-container .menu-button:active {
  background: #007d85;
}

.navigation-container {
  transition: background 0.2s ease;
  align-items: center;
  box-shadow: 0 0 3px 0 #484848;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.navigation-container.light {
  background: #00adb5;
}
.navigation-container.dark {
  background: #00363a;
}
.navigation-container.menu-open .navigation-center {
  right: 0;
}
.navigation-container .navigation-left {
  flex: 1;
}
.navigation-container .navigation-right {
  width: 100px;
}

@media (min-width: 769px) {
  .navigation-container {
    flex-direction: column;
  }
  .navigation-container .navigation-right {
    display: none;
  }
}
.player-container {
  color: #f5f5f5;
  gap: 10px;
  padding: 10px 20px;
  transition: background 0.2s ease;
}
.player-container.light {
  background: #00363a;
}
.player-container.dark {
  background: #212121;
}
.player-container .comands-container,
.player-container .info-container,
.player-container .auxiliar-container {
  width: 100%;
  gap: 10px;
}
.player-container .comands-container .play-button {
  width: 40px;
  height: 40px;
}
.player-container .comands-container .play-button svg {
  font-size: 2.5em;
}
.player-container .auxiliar-container .auxiliar-control {
  min-height: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: transparent;
  color: #f5f5f5;
}
.player-container .auxiliar-container .auxiliar-control.active {
  background-color: #007d85;
}

.volume-control-container {
  width: 100%;
  max-width: 800px;
  height: 30px;
  display: flex;
  position: relative;
}
.volume-control-container .volume-button {
  position: absolute;
  left: 40px;
}
.volume-control-container .volume-input-container {
  position: absolute;
  left: 120px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  min-width: 80px;
  max-width: 150px;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 inset #f5f5f5;
}
.volume-control-container .volume-input-container .marker {
  position: absolute;
  width: 200px;
  height: 5px;
  z-index: -1;
}
.volume-control-container .volume-input-container .volume-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 200px;
  height: 5px;
  background: #007d85;
  outline: none;
  overflow: hidden;
  box-shadow: inset 0 0 2px #212121;
}
.volume-control-container .volume-input-container .volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 5px;
  height: 5px;
  background: #00adb5;
  cursor: pointer;
  box-shadow: -107px 0 0 100px #00adb5;
}
.volume-control-container .volume-input-container .volume-input:active::-webkit-slider-thumb {
  background: #f5f5f5;
  box-shadow: -107px 0 0 100px #f5f5f5;
}

.range-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  max-width: 769px;
  height: 5px;
  background: #007d85;
  outline: none;
  overflow: hidden;
  box-shadow: inset 0 0 2px #212121;
}
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 5px;
  height: 5px;
  background: #00adb5;
  cursor: pointer;
  box-shadow: -769px 0 0 769px #00adb5;
}
.range-input:active::-webkit-slider-thumb {
  background: #f5f5f5;
  box-shadow: -769px 0 0 769px #f5f5f5;
}

.new-playlist-form {
  padding: 5px 10px;
  border-radius: 5px;
}

.table-container {
  font-size: 14px;
  width: 100%;
  padding: 5px 10px;
}
.table-container .thead,
.table-container .table-body,
.table-container .tfoot {
  width: 100%;
}
.table-container .thead .head-item:nth-child(1),
.table-container .table-body .table-row .row-item:nth-child(1) {
  max-width: 40px;
}
.table-container .thead .head-item:nth-child(4),
.table-container .table-body .table-row .row-item:nth-child(4) {
  max-width: 80px;
  border-right: none;
}
.table-container .thead .head-item:nth-child(5),
.table-container .table-body .table-row .row-item:nth-child(5) {
  max-width: 30px;
  padding: 0;
}
.table-container .thead {
  padding-bottom: 10px;
  cursor: default;
}
.table-container .thead .head-item {
  flex: 1;
  padding-left: 5px;
}
.table-container .table-body .table-row {
  width: 100%;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.table-container .table-body .table-row:hover {
  background-color: #00adb5;
}
.table-container .table-body .table-row.clicked-once {
  background-color: #00adb5;
}
.table-container .table-body .table-row:nth-child(1) {
  border-top: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
}
.table-container .table-body .table-row .row-item {
  padding-left: 5px;
  flex: 1;
  text-align: left;
  border-right: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.table-container .table-body .table-row .row-item:nth-child(1) {
  border-left: 1px solid #ccc;
}

@media (max-width: 769px) {
  .table-container .table-body .table-row .row-item:nth-child(2) {
    border-left: 1px solid #ccc;
  }
}
.createplaylist-name-input {
  width: 100%;
  border-radius: 3px;
  border: none;
  height: 30px;
  padding-left: 10px;
  background-color: transparent;
  margin-bottom: 15px;
  transition: 0.2s ease;
}
.createplaylist-name-input:focus {
  outline: none;
  font-size: 1em;
}
.createplaylist-name-input:-moz-placeholder-shown {
  font-style: italic;
}
.createplaylist-name-input:-ms-input-placeholder {
  font-style: italic;
}
.createplaylist-name-input:placeholder-shown {
  font-style: italic;
}

.all-playlists-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 10px;
}

@media (min-width: 769px) {
  .all-playlists-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.playlist-card {
  min-height: 100px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 3px;
  transition: transform 0.2s ease;
  transition: background 0.2s ease;
}
.playlist-card.light {
  background: #fff;
}
.playlist-card.dark {
  background: #007d85;
}
.playlist-card:hover {
  transform: scale(1.05);
}
.playlist-card-header {
  border-bottom: 1px solid #c2c2c2;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.playlist-card-detail {
  list-style: none;
  padding: 0;
}
.playlist-card-detail-item:hover {
  color: #00adb5;
}

.current-playlist-list {
  list-style: none;
}/*# sourceMappingURL=index.css.map */