* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Geneva, Verdana, sans-serif;
}

#root {
  max-width: 100vw;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.comands-container, .auxiliar-container, .navbar-list-container .navbar-list-element, .btn a, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.fc {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 10px;
}

@media (max-width: 769px) {
  .non-mobile {
    display: none;
  }
}
.paper.elev-1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.paper.elev-2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.paper.elev-3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.paper.elev-4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.playlist-card, .paper.elev-6 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.paper.elev-8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn {
  color: inherit;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.2s ease;
  min-height: 30px;
  font-size: 16px;
  transition: color 0.2s ease;
}
.btn.light {
  color: #212121;
}
.btn.light a {
  color: #212121;
}
.btn.dark {
  color: #f5f5f5;
}
.btn.dark a {
  color: #f5f5f5;
}
.btn:hover {
  background-color: #00b2ba;
}
.btn.primary {
  color: #212121;
  background-color: #00adb5;
}
.btn.primary.highlight {
  -webkit-animation: lighting 2.5s infinite;
          animation: lighting 2.5s infinite;
}
@-webkit-keyframes lighting {
  0% {
    background-color: #00adb5;
  }
  50% {
    background-color: #00dee8;
  }
  100% {
    background-color: #00adb5;
  }
}
@keyframes lighting {
  0% {
    background-color: #00adb5;
  }
  50% {
    background-color: #00dee8;
  }
  100% {
    background-color: #00adb5;
  }
}
.btn.disabled {
  background-color: #8e8e8e;
  color: #212121;
}
.btn.error {
  color: #212121;
  background-color: #f44336;
}
.btn.success {
  background-color: #66bb6a;
}
.btn svg {
  font-size: inherit;
}
.btn a {
  gap: 10px;
}

.btn-player {
  background: transparent;
  padding: 5px;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  color: inherit;
  transition: background 0.2s;
  transition: box-shadow 0.2s;
  position: relative;
  outline: none;
}
.btn-player:hover {
  box-shadow: 0 0 3px 0 #c2c2c2;
  background: #006064;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #00adb5;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #00adb5;
  border-radius: 50%;
  -webkit-animation: animloader 1s infinite ease-in-out;
          animation: animloader 1s infinite ease-in-out;
  box-shadow: 0 0 3px 0 #484848;
}

.loader::before {
  background-color: #f5f5f5;
  transform: scale(0.5) translate(-48px, -48px);
}

@-webkit-keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
.paper {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: background 0.2s ease;
}
.paper.light {
  background: #fff;
}
.paper.dark {
  background: #212121;
}
.toggle-theme-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  width: 35px;
  height: 18px;
  margin: 0;
  position: relative;
  border-radius: 9px;
  background-color: #00363a;
  outline: none;
}
.toggle-theme-input:after {
  transition: all 0.2s ease;
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-color: #00adb5;
  border-radius: 50%;
}
.toggle-theme-input.active {
  background-color: #00adb5;
}
.toggle-theme-input.active:after {
  background-color: #00363a;
  left: 17px;
}

.tooltip {
  position: relative;
}
.tooltip .tooltip-span {
  position: absolute;
  top: -53px;
  left: 0;
  background-color: #c2c2c2;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #8e8e8e;
  border-radius: 3px;
  opacity: 0;
  -webkit-clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%);
          clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 50% 100%);
  transition: all 0.2s ease;
}
.tooltip.active .tooltip-span {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
}

.view {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(320px, 1025px);
  justify-content: center;
  padding: 10px 20px;
  transition: background 0.2s ease;
  transition: color 0.2s ease;
}
.view.light {
  background: #f5f5f5;
}
.view.dark {
  background: #121212;
}
.view.light {
  color: #212121;
}
.view.light a {
  color: #212121;
}
.view.dark {
  color: #f5f5f5;
}
.view.dark a {
  color: #f5f5f5;
}
.view h2 {
  text-align: center;
  margin: 30px auto;
}

.navigation-logo {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}
.navigation-logo-link {
  transition: color 0.2s ease;
}
.navigation-logo-link.light {
  color: #212121;
}
.navigation-logo-link.light a {
  color: #212121;
}
.navigation-logo-link.dark {
  color: #f5f5f5;
}
.navigation-logo-link.dark a {
  color: #f5f5f5;
}

.navigation-menu-container .menu-button {
  background: transparent;
  width: 30px;
  height: 30px;
  transition: background 0.2s;
  border-radius: 3px;
  transition: color 0.2s ease;
}
.navigation-menu-container .menu-button.light {
  color: #212121;
}
.navigation-menu-container .menu-button.light a {
  color: #212121;
}
.navigation-menu-container .menu-button.dark {
  color: #f5f5f5;
}
.navigation-menu-container .menu-button.dark a {
  color: #f5f5f5;
}
.navigation-menu-container .menu-button:active {
  background: #007d85;
}

.navbar-list-container {
  transition: background 0.2s ease;
  height: calc(100vh - 60px);
  list-style: none;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  right: -300px;
  top: 60px;
  transition: all 0.4s;
  width: 300px;
  z-index: 1;
}
.navbar-list-container.light {
  background: #5cdfe7;
}
.navbar-list-container.dark {
  background: #006064;
}
.navbar-list-container.menu-open {
  opacity: 1;
  right: 0;
  top: 60px;
}
.navbar-list-container .navbar-list-element {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  margin: 5px 0;
  overflow: hidden;
  padding: 5px 10px;
}
.navbar-list-container .navbar-list-element .navbar-list-link,
.navbar-list-container .navbar-list-element .navbar-list-icon {
  transition: color 0.2s ease;
}
.navbar-list-container .navbar-list-element .navbar-list-link.light,
.navbar-list-container .navbar-list-element .navbar-list-icon.light {
  color: #212121;
}
.navbar-list-container .navbar-list-element .navbar-list-link.light a,
.navbar-list-container .navbar-list-element .navbar-list-icon.light a {
  color: #212121;
}
.navbar-list-container .navbar-list-element .navbar-list-link.dark,
.navbar-list-container .navbar-list-element .navbar-list-icon.dark {
  color: #f5f5f5;
}
.navbar-list-container .navbar-list-element .navbar-list-link.dark a,
.navbar-list-container .navbar-list-element .navbar-list-icon.dark a {
  color: #f5f5f5;
}
.navbar-list-container .navbar-list-element .navbar-list-link {
  display: block;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding-left: 10px;
  width: 100%;
}
.navbar-list-container .navbar-list-element .navbar-list-icon {
  position: relative;
  top: 8px;
}

@media (min-width: 769px) {
  .navbar-list-container {
    transition: background 0.2s ease;
    left: 0;
    opacity: 1;
    position: relative;
    top: 0;
    width: 180px;
  }
  .navbar-list-container.light {
    background: transparent;
  }
  .navbar-list-container.dark {
    background: transparent;
  }
}
.navigation-container {
  transition: background 0.2s ease;
  align-items: center;
  box-shadow: 0 0 3px 0 #484848;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.navigation-container.light {
  background: #00adb5;
}
.navigation-container.dark {
  background: #00363a;
}
.navigation-container.menu-open .navigation-center {
  right: 0;
}
.navigation-container .navigation-left {
  flex: 1;
}
.navigation-container .navigation-right {
  width: 100px;
}

@media (min-width: 769px) {
  .navigation-container {
    flex-direction: column;
  }
  .navigation-container .navigation-right {
    display: none;
  }
}
.range-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  max-width: 769px;
  height: 5px;
  background: #007d85;
  outline: none;
  overflow: hidden;
  box-shadow: inset 0 0 2px #212121;
}
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 5px;
  height: 5px;
  background: #00adb5;
  cursor: pointer;
  box-shadow: -769px 0 0 769px #00adb5;
}
.range-input:active::-webkit-slider-thumb {
  background: #f5f5f5;
  box-shadow: -769px 0 0 769px #f5f5f5;
}

.auxiliar-container .auxiliar-control {
  min-height: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: transparent;
  color: #f5f5f5;
}
.auxiliar-container .auxiliar-control.active {
  background-color: #007d85;
}

.comands-container .play-button {
  width: 40px;
  height: 40px;
}
.comands-container .play-button svg {
  font-size: 2.5em;
}

.player-container {
  color: #f5f5f5;
  gap: 10px;
  padding: 10px 20px;
  transition: background 0.2s ease;
}
.player-container.light {
  background: #00363a;
}
.player-container.dark {
  background: #212121;
}
.player-container .comands-container,
.player-container .info-container,
.player-container .auxiliar-container {
  width: 100%;
  gap: 10px;
}

.footer-container-app {
  display: grid;
  grid-template-columns: 1fr minmax(1px, 200px) minmax(1px, 200px);
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 10px 20px;
  transition: background 0.2s ease;
  transition: color 0.2s ease;
}
.footer-container-app.light {
  background: #00adb5;
}
.footer-container-app.dark {
  background: #00363a;
}
.footer-container-app.light {
  color: #212121;
}
.footer-container-app.light a {
  color: #212121;
}
.footer-container-app.dark {
  color: #f5f5f5;
}
.footer-container-app.dark a {
  color: #f5f5f5;
}
.footer-container-app .footer-column {
  width: 100%;
}

.main-container-app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  position: relative;
  padding-top: 60px;
  transition: background 0.2s ease;
}
.main-container-app.light {
  background: #f5f5f5;
}
.main-container-app.dark {
  background: #121212;
}
.main-container-app .header-container-app {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.main-container-app .player-container-app {
  grid-row: 1/2;
}
.main-container-app .body-container-app {
  grid-row: 2/3;
}
.main-container-app .footer-container-app {
  grid-row: 3/-1;
}

@media (min-width: 769px) {
  .main-container-app {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding-top: 0;
    padding-left: 180px;
  }
  .main-container-app .header-container-app {
    width: 180px;
  }
  .main-container-app .player-container-app {
    grid-row: 1;
    grid-column: 1;
  }
  .main-container-app .body-container-app {
    grid-row: 2;
    grid-column: 1;
  }
  .main-container-app .footer-container-app {
    grid-row: 3;
    grid-column: 1;
  }
}
.article-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-heading-h2 a {
  border-bottom: 1px solid #00adb5;
}

.table-container {
  font-size: 14px;
  width: 100%;
  padding: 5px 10px;
}
.table-container .thead,
.table-container .table-body,
.table-container .tfoot {
  width: 100%;
}
.table-container .thead .head-item:nth-child(1),
.table-container .table-body .table-row .row-item:nth-child(1) {
  max-width: 40px;
}
.table-container .thead .head-item:nth-child(4),
.table-container .table-body .table-row .row-item:nth-child(4) {
  max-width: 80px;
  border-right: none;
}
.table-container .thead .head-item:nth-child(5),
.table-container .table-body .table-row .row-item:nth-child(5) {
  max-width: 30px;
  padding: 0;
}
.table-container .thead {
  padding-bottom: 10px;
  cursor: default;
}
.table-container .thead .head-item {
  flex: 1;
  padding-left: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: lowercase;
}
.table-container .table-body .table-row {
  width: 100%;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.table-container .table-body .table-row:hover, .table-container .table-body .table-row.clicked-once:hover {
  background-color: #5cdfe7;
}
.table-container .table-body .table-row.clicked-once {
  background-color: #00adb5;
}
.table-container .table-body .table-row:nth-child(1) {
  border-top: 1px solid #ccc;
  border-radius: 3px 3px 0 0;
}
.table-container .table-body .table-row .row-item {
  padding-left: 5px;
  flex: 1;
  text-align: left;
  border-right: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.table-container .table-body .table-row .row-item:nth-child(1) {
  border-left: 1px solid #ccc;
}

@media (max-width: 769px) {
  .table-container .table-body .table-row .row-item:nth-child(2) {
    border-left: 1px solid #ccc;
  }
}
.createplaylist-name-input {
  color: inherit;
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  background-color: transparent;
  transition: 0.2s ease;
}
.createplaylist-name-input:focus {
  outline: none;
  font-size: 1em;
}
.createplaylist-name-input:-moz-placeholder-shown {
  font-style: italic;
}
.createplaylist-name-input:-ms-input-placeholder {
  font-style: italic;
}
.createplaylist-name-input:placeholder-shown {
  font-style: italic;
}
.createplaylist-name-input.error {
  background-color: #f6675d;
  color: #212121;
}

.banner-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 300px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container .banner-title {
  position: relative;
  text-align: center;
  top: -48px;
  z-index: 2;
  color: #f5f5f5;
  text-shadow: 0 0 3px #212121;
}
.banner-container .banner-overlay {
  width: 100%;
  height: 100%;
  background: transparent;
  background: linear-gradient(0deg, rgb(18, 18, 18) 0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.banner-container .banner-image-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.banner-container .banner-image-container .banner-img {
  display: block;
  max-width: 100%;
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #121212;
}

.after-banner {
  box-shadow: 0 50px 20px -20px #121212 inset;
  padding-top: 40px;
}

@media (min-width: 769px) {
  .banner-container {
    height: 80%;
  }
}
.ownplaylist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  cursor: pointer;
}
.ownplaylist-container * {
  transition: background 0.2s ease;
}
.ownplaylist-container *.light {
  background: #f5f5f5;
}
.ownplaylist-container *.dark {
  background: #00363a;
}

.playlist-cards-containter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

@media (min-width: 769px) {
  .playlist-cards-containter {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
.playlist-card {
  min-height: 130px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background 0.2s ease;
  transition: transform 0.2s ease;
}
.playlist-card.light {
  background: #fff;
}
.playlist-card.dark {
  background: #007d85;
}
.playlist-card:hover {
  transform: scale(1.05);
}
.playlist-card-header {
  border-bottom: 1px solid #c2c2c2;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.playlist-card-detail {
  list-style: none;
  padding: 0;
}
.playlist-card-detail-item:nth-last-child(1) {
  cursor: pointer;
  transition: color 0.2s ease;
}
.playlist-card-detail-item:nth-last-child(1):hover {
  color: #00adb5;
}

.current-playlist-list {
  list-style: none;
  padding: 0;
}/*# sourceMappingURL=index.css.map */