.main-container-app {
  display: grid;
  grid-template-rows: $navigation-height auto 1fr;
  min-height: $vh;

  .header-container-app {
    grid-row: 1 / 2;
  }
  .player-container-app {
    grid-row: 2/3;
  }
  .body-container-app {
    background-color: $white;
  }
}

@media (min-width: $medium) {
  .main-container-app {
    grid-template-columns: $navigation-width 1fr;
    grid-template-rows: auto 1fr;
    .header-container-app {
      grid-row: 1 / -1;
      grid-column: 1;
    }
    .player-container-app {
      grid-row: 1;
      grid-column: 2;
    }
    .body-container-app {
      grid-row: 2;
      grid-column: 2;
    }
  }
}
