.main-container-app {
  max-height: $vh;
  height: $vh;
  width: $vw;
  display: flex;
  flex-direction: column;
  .content-container-app {
    flex-grow: 1;
    background-color: $white;
    padding: 10px;
  }
}

@media (min-width: $medium) {
  .main-container-app {
    flex-direction: row;
    .content-container-app {
      max-width: calc($vw - 60px);
      position: relative;
      right: -60px;
    }
  }
}
