@import '../../theme/index.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container-app {
  max-height: $vh;
  height: $vh;
  width: $vw;
  display: flex;
  flex-direction: column;
  .navigation-container-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $navigation-size;
    width: $vw;
    background-color: $background_dark;
  }
  .content-container-app {
    flex-grow: 1;
    background-color: $white;
    padding: 10px;
  }
}

// 760
// 1040

@media (min-width: $medium) {
  .main-container-app {
    flex-direction: row;
    .navigation-container-app {
      width: $navigation-size;
      height: $vh;
    }
  }
}
