.btn {
  @extend %flex-row-center;
  color: inherit;
  padding: $pad;
  border-radius: 3px;
  transition: all $fast;
  min-height: $button-height;
  font-size: 16px;
  @include useThemeText;
  &:hover {
    background-color: lighten($primary, 1);
  }
  &.primary {
    background-color: $primary;
    &.highlight {
      animation: lighting 2.5s infinite;
    }
  }
  &.disabled {
    background-color: $grey_light;
  }
  &.error {
    background-color: $error;
  }
  &.success {
    background-color: $success;
  }
  & svg {
    font-size: inherit;
  }
  & a {
    @extend %flex-row-center;
    gap: $gap;
  }
}

.btn-player {
  background: transparent;
  padding: 5px;
  height: $button-height;
  width: $button-height;
  border: none;
  border-radius: 50%;
  color: inherit;
  transition: background 0.2s;
  transition: box-shadow 0.2s;
  position: relative;
  outline: none;
  &:hover {
    box-shadow: 0 0 3px 0 $white_dark;
    background: $primary_darken;
  }
}

@keyframes lighting {
  0% {
    background-color: $primary;
  }
  50% {
    background-color: lighten($primary, 10);
  }
  100% {
    background-color: $primary;
  }
}
