.toggle-theme-input {
  appearance: none;
  background-color: #fff;
  width: 35px;
  height: 18px;
  margin: 0;
  position: relative;
  border-radius: 9px;
  background-color: $primary_darken_dark;
  &:after {
    transition: all $fast;
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 16px;
    height: 16px;
    background-color: $primary;
    border-radius: 50%;
  }
  &.active {
    background-color: $primary;
    &:after {
      background-color: $primary_darken_dark;
      left: 17px;
    }
  }
}
