.all-playlists-container {
  margin-top: $padding-container-tb;
  width: $full;
  display: grid;
  grid-template-columns: 1fr;
  // place-items: center;
  gap: $gap;
}

@media (min-width: $medium) {
  .all-playlists-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
