.playlist-cards-containter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: $gap;
}

@media (min-width: $medium) {
  .playlist-cards-containter {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
