.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap {
  gap: $gap;
}

@media (max-width: $medium) {
  .non-mobile {
    display: none;
  }
}
