// Sizes
$full: 100%;
$vw: 100vw;
$vh: 100vh;

$button-height: 30px;

$list-element-height: 50px;

$container-padding: 10px 40px;
$pad: 5px 10px;
$gap: 10px;
$shadow: 0 0 3px 0 $black_light;

// Navigation
$navigation-height: 60px;
$navigation-width-mobile: 300px;
$navigation-width: 180px;

// Player
$player-mobile-height: 100px;
$volume-width: 200px;
$volume-height: 5px;
