.detail-item {
  padding: $pad;
  transition: background-color $fast;
  border-radius: 3px;
  &.current-song {
    background-color: $primary;
    color: $primary_darken_dark;
    &:hover {
      color: $white;
    }
  }
  &:hover {
    color: $primary;
    box-shadow: $shadow inset;
    cursor: pointer;
  }
}
