.auxiliar-container {
  @extend %flex-row-center;
  & .auxiliar-control {
    min-height: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: transparent;
    color: $white;
    &.active {
      background-color: $primary_dark;
    }
  }
}
